<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="public/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #007BFF;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        li a {
            text-decoration: none;
            color: #007BFF;
            margin-left: 10px;
        }

        a:hover {
            text-decoration: underline;
        }

        a.delete-link {
            color: red;
        }

        a.delete-link:hover {
            text-decoration: underline;
            color: darkred;
        }

        a.edit-link {
            color: #007BFF;
        }

        a.edit-link:hover {
            text-decoration: underline;
            color: #0056b3;
        }

        a.add-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border-radius: 3px;
        }

        a.add-link:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <ul>
        <% users.forEach(function(user) { %>
            <li>
                <%= user.email %>
                <a href="/edit/<%= user._id %>" class="edit-link">Edit</a>
                <a href="/delete/<%= user._id %>" class="delete-link">Delete</a>
            </li>
        <% }); %>
    </ul>
    <a href="/add" class="add-link">Add User</a>
</body>
</html>
